/* your styles go here */

.btn-success-custom {
    --bs-btn-color: #43631d;
    --bs-btn-bg: #bbde90;
    --bs-btn-border-color: #bbde90;
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #53c16d;
    --bs-btn-hover-border-color: #49bd64;
    --bs-btn-focus-shadow-rgb: 50, 160, 77;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: #5dc575;
    --bs-btn-active-border-color: #49bd64;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #43631d;
    --bs-btn-disabled-bg: #bbde90;
    --bs-btn-disabled-border-color: #bbde90;
  }

  .btn-cancel-custom {
    --bs-btn-color: #f04a38;
    --bs-btn-bg: #f5b3ac;
    --bs-btn-border-color: #f5b3ac;
    --bs-btn-hover-color: #f04a38;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #f04a38;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f04a38;
    --bs-btn-disabled-bg: #f5b3ac;
    --bs-btn-disabled-border-color: #f5b3ac;
  }

  .display-7-custom {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 400;
    line-height: 1.3;
  }
  @media (min-width: 1200px) {
    .display-7-custom {
      font-size: 2rem;
    }
  }

  .display-8-custom {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 400;
    line-height: 1.3;
  }
  @media (min-width: 1200px) {
    .display-8-custom {
      font-size: 1.5rem;
    }
  }

  .form-control-custom {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-control-custom {
      transition: none;
    }
  }
  .form-control-custom[type=file] {
    overflow: hidden;
  }
  .form-control-custom[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  .form-control-custom:focus {
    color: #212529;
    background-color: #fff;
    border-color: #e4ee9c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(228, 238, 156, 0.25);
  }
  .form-control-custom::-webkit-date-and-time-value {
    height: 1.6em;
  }
  .form-control-custom::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control-custom::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control-custom:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
  .form-control-custom::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control-custom::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-control-custom::-webkit-file-upload-button {
      -webkit-transition: none;
      transition: none;
    }
    .form-control-custom::file-selector-button {
      transition: none;
    }
  }
  .form-control-custom:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
  }
  .form-control-custom:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
  }
  